#DeviceWorkBox{
    border: 1px solid #dadce0;
    /* border: 1px solid #888888; */
    height: 100%;
    width: 100%;
    background-color: #fff;
}

#DeviceWorkBox > header {
    font-size: 14px;
    border-bottom: 1px solid #dadce0;
    padding: 5px;
}

#DeviceWorkBox .title{
    border-left: 3px solid #000;
    font-weight: 500;
    color: #000;
    padding-left: 7px;
    margin-left: 5px;
}

#DeviceWorkBox .state{
    font-style: italic;
    font-size: 13px;
}