#SibaHeader{
    top: 0;
    left: 0;
    position: fixed;
    height: 43px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    width: 100%;
    z-index: 9999;
}

#SibaHeader h1{
    float: left;
    margin-left: 30px;
    font-size: 16px;
    margin-top: 9px;
}

#SibaHeader .util-list{
    float: right;
    font-size: 13px;
    margin-right: 10px;
    padding-top: 6px;
    padding-left: 10px;
    width: 100px;
    height: 38px;
    border-left: 2px solid #dadce0;
}

#SibaHeader .userimage{
    display: inline-block;
}

#SibaHeader .username{
    position: absolute;
    top: 12px;
    right: 44px;
    display: inline-block;
    margin-right: 5px;
}

#SibaHeader img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}