#SensingPallet{
    font-size: 12px;
    background-color: #F1F1F1;
    height: 23px;
    /* background-color: #B2C7D9; */
}

#SensingPallet .toolbox{
    width: 100%;
    height: 29px;
    background-color: white;
    position: absolute;
    top: 55px;
    z-index: 2;
    border-top: 1px solid #dadce0;
    border-bottom: 1px solid #dadce0;
}

#SensingPallet .data-modeler{
    width: 350px;
    position: absolute;
    left: 3px;
    top:3px;
    bottom: 2px;
    border: 1px solid #dadce0;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#SensingPallet .model-category{
    width: 340px;
    height: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid #dadce0;
    background-color: #fff;
    position: relative;
}

#SensingPallet .model-category > header{
    border-bottom: 1px solid #dadce0;
    height: 20px;
    padding: 2px 15px;
    /* background-color: #3267D4; */
    background-color: #555;
    color: #fff;
}

#SensingPallet hr{
    width: 340px;
    border-top: 1px solid #dadce0;
    border-radius: 5px;
}

#SensingPallet .model-body{
    position: relative;
}

#SensingPallet .model-table{
    border: 1px solid #888;
    position: absolute;
    top: 70px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: #F5F5F5;
}

#SensingPallet .model-table > header{
    background-color: #fff;
    border-bottom: 1px solid #888;
}

#SensingPallet .model-table > header > div{
    display: inline-block;
    width: 33%;
    text-align: center;
}

#SensingPallet .model-table-body{
    overflow-y: scroll;
    position: absolute;
    top: 23px;
    bottom: 0;
    left: 0;
    right: 0;
}

#SensingPallet .data-model{
    background-color: #fff;
    width: 100%;
    border-top: 1px solid #888;
}

#SensingPallet .data-model > div{
    display: inline-block;
    text-align: center;
}

#SensingPallet .dt-adder{
    width: 100%;
    outline: none;
    border: none;
    border-top: 1px solid #888;
    font-size: 11px;
    padding: 4px 0;
    color: #555;
    cursor: pointer;
}

#SensingPallet .dt-adder:hover{
    background-color: #888;
    color: #dadce0;
}

#SensingPallet .pallet{
    position: absolute;
    top: 86px;
    z-index: 1;
    left: 1px;
    right: 1px;
    bottom: 0px;
    /* right: 240px; */
}

#SensingPallet .data-editor{
    border: 1px solid #dadce0;
    position: absolute;
    left: 361px;
    top:3px;
    bottom: 2px;
    right: 3px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#SensingPallet .up-editor{
    border: 1px solid #dadce0;
    background-color: #f1f1f1;
    height: 50%;
    width: 100%;
    margin-bottom: 0px;
    position: relative;
}

#SensingPallet .down-editor{
    border: 1px solid #dadce0;
    background-color: #fff;
    height: 50%;
    width: 100%;
    margin-top: 0px;
}

#SensingPallet .button-set{
    position: absolute;
    top: 0;
    right: 253px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-right: 1px solid #dadce0;
}

#SensingPallet .button-set > header{
    height: 24px;
    border-bottom: 1px solid #dadce0;
}

#SensingPallet .button-set > span{
    display: block;
    font-size: 11px;
    margin-left: 5px;
    margin-top: 3px;
}

#SensingPallet .button-set-div{
    height: 18px;
    border-bottom: 1px solid #dadce0;
    background-color: #F5F5F5;
}

#SensingPallet .selected{
    background-color: #fff !important;
}

#SensingPallet .btn-area{
    position: absolute;
    border: 1px solid #dadce0;
    top: 68px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background-color: #F5F5F5;
    overflow: auto;
}

#SensingPallet .button-set-div > button{
    padding: 1px 15px;
    border: none;
    outline: none;
    font-size: 11px;
    position: absolute;
    left: 0;
    cursor: pointer;
    background-color: #E4E4E4;
}

#SensingPallet .button-set-div > button:hover{
    background-color: #fff;
}

#SensingPallet .button-set > header > span{
    float: left;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    color: #7C95D8;
    border-bottom: 3px solid #7C95D8;
}

#SensingPallet .req-text{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    border-left: 1px solid #dadce0;
    background-color: #fff;
}

#SensingPallet .req-text > header{
    height: 24px;
    border-bottom: 1px solid #dadce0;
}

#SensingPallet .req-text > header > span{
    float: left;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    color: #7C95D8;
    border-bottom: 3px solid #7C95D8;
}

#SensingPallet .req-body{
    position: absolute;
    top: 24px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
}

#SensingPallet .req-box-area{
    position: relative;
    background: linear-gradient(0deg, #F3F3F3 1px, rgba(0, 0, 0, 0) 1px) -1px -1px / 40px 40px repeat padding-box border-box, linear-gradient(90deg, #F3F3F3 1px, rgba(0, 0, 0, 0) 1px) -1px -1px / 40px 40px, linear-gradient(0deg, #F9F9F9 1px, rgba(0, 0, 0, 0) 1px) -1px -1px / 10px 10px, linear-gradient(90deg, #F9F9F9 1px, rgba(0, 0, 0, 0) 1px) -1px -1px / 10px 10px, #fff;
    background-repeat: repeat;
    border: 1px solid #dadce0;
    border-radius: 2px;
    margin: 5px 3px;
    min-height: 144px;
}

#SensingPallet .link-model-table{
    border: 1px solid #dadce0;
    margin: 0 3px;
    bottom: 0;
}

#SensingPallet .down-editor > header{
    height: 24px;
    border-bottom: 1px solid #dadce0;
}

#SensingPallet .down-editor > header > span{
    float: left;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    color: #7C95D8;
    border-bottom: 3px solid #7C95D8;
}