@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

#SibaFrame{
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    display : -webkit-flex;
	display : flex;
}

button:focus {outline:0;}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #DFE0E1;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #959596; 
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

@media screen and ( max-width: 1023px ) {

}

@media screen and ( max-width: 767px ) {
    #sb{
        display: none;
    }
}