#VirtualHub{
    /* width: 33%; */
    width: 299px;
    box-sizing: border-box;
    vertical-align: top;
    padding: 10px 0 10px 25px;
}

#VirtualHub .inner > .hub-on::before {
    position: relative;
    left: 5px;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    content: '';
    display: inline-block;
    background-color: green;
}

#VirtualHub .inner > .hub-off::before {
    position: relative;
    left: 5px;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    content: '';
    display: inline-block;
    background-color: #E1E1E1;
}

#VirtualHub > .inner{
    border: 1px solid #BBB;
    border-radius: 2px;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 0 3px 3px 3px;
}

#VirtualHub .inner > header{
    font-size: 12px;
    border-bottom: 1px solid #dadce0;
    padding: 5px;
    background-color: #fff;
    position: relative;
}

#VirtualHub .title{
    /* border-left: 3px solid #000; */
    font-weight: 450;
    color: #000;
    padding-left: 7px;
    margin-left: 3px;
}

#VirtualHub .vcode{
    font-size: 12px;
    font-style: italic;
    color: #656565;
}

#VirtualHub .info{
    background-color: #fff;
    /* background-color: #A9B1C1; */
    /* padding-left: 19px; */
    font-size: 11px;
    height: 20px;
    color: #333;
    /* border-bottom: 1px solid #888; */
}

#VirtualHub .info .row{
    padding: 3px 3px;
}

#VirtualHub .info .key{
    display: inline-block;
    width: 20%;
    color: #666;
}

#VirtualHub .info .value{
    display: inline-block;
    width: 80%;
    text-align: right;
}

#VirtualHub .sub-title{
    color: #000;
    position: relative;
}

#VirtualHub .container{
    /* width: 100%; */
    margin-top: 53px;
    background-color: #B8C6D8;
    padding-top: 5px;
    height: 163px;
    overflow: auto;
    /* background-color: #B8C6D8; */
    /* border-bottom: 1px solid #888; */
}

#VirtualHub footer{
    height: 20px;
    font-size: 12px;
    padding-left: 19px;
    color: #333;
    background-color: #A9B1C1;
}

#VirtualHub footer> span{
    margin-right: 13px;
}

#VirtualHub .total::before {
    position: relative;
    left: -3px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    content: '';
    display: inline-block;
    background-color: gray;
}

#VirtualHub .on::before {
    position: relative;
    left: -3px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    content: '';
    display: inline-block;
    background-color: green;
}

#VirtualHub .off::before {
    position: relative;
    left: -3px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    content: '';
    display: inline-block;
    background-color: #E43133;
}

#LogicalDevice{
    display: inline-block;
    height: 50px;
    padding: 5px 0 5px 10px;
    /* width: 78px; */
    width: 122px;
    position: relative;
}

#LogicalDevice > .inner{
    position: absolute;
    top: 5px;
    left: 10px;
    width: 120px;
    height: 50px;
    border: 1px solid #888;
    background-color: #E7EFF5;
    font-size: 11px;
}

#LogicalDevice .name{
    margin-left: 10px;
}

#LogicalDevice .dkey{
    font-size: 10px;
    margin-left: 3px;
    font-style: italic;
    color: #656565;
}

#LogicalDevice > .inner:hover{
    cursor: pointer;
    background-color: #fff;
}

#LogicalDeviceAddBtn{
    display: inline-block;
    height: 50px;
    padding: 5px 0 5px 10px;
    width: 122px;
    position: relative;
}

#LogicalDeviceAddBtn .add{
    position: absolute;
    top: 5px;
    left: 10px;
    
    height: 48px;
    width: 118px;
    background-color: transparent;
    
    
}

#LogicalDeviceAddBtn .add > button{
    text-align: center;
    border: 2px dashed #AAB0BF;
    border-radius: 2px;
    color: #AAB0BF;
    outline: none;
    background-color: transparent;
    width: 100%;
    cursor: pointer;
}

#LogicalDeviceAddBtn .add > button:hover{
    background-color: transparent;
    border: 2px dashed #fff;
    color: #fff;
}

/* width */
#VirtualHub .container::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}
  
/* Track */
#VirtualHub .container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
  
/* Handle */
#VirtualHub .container::-webkit-scrollbar-thumb {
    background: #DFE0E1;
    border-radius: 20px;
}
  
  /* Handle on hover */
#VirtualHub .container::-webkit-scrollbar-thumb:hover {
    background: #959596; 
}

#VirtualHub .hub-set-btn{
    /* position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    padding-top: 3px;
    padding-right: 3px;
    display: block;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: 20px; */
    color: #656565;
}

#VirtualHub .hub-set-btn:hover{
    color: #222;
}

#VirtualHub .expand-btn{
    position: absolute;
    padding: 0;
    top: 2px;
    right: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: #656565;
}

#VirtualHub .expand-btn:hover{
    color: #222;
}