#RuleModalWrapper{
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #555; */
}

#RuleModalWrapper > header{
    color: #fff;
    background-color: #555555;
    height: 25px;
}

#RuleModalWrapper > header > span{
    font-size: 12px;
    margin-left: 10px;
}

#RuleModalWrapper > header > button{
    float: right;
    outline: none;
    border: none;
    height: 100%;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

#RuleModalWrapper > header > button:hover{
    color: #333;
}

#RuleModalWrapper .model-data-area{
    margin: 0 auto;
    margin-top: 15px;
    border: 1px solid #dadce0;
    width: 510px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#RuleModalWrapper .modeler-upper{
    display: block;
    font-size: 12px;
    width: 500px;
    border: 1px solid #dadce0;
    background-color: #fff;
    color: #333;
}

#RuleModalWrapper .modeler-editor{
    margin-top: 2px;
    display: block;
    font-size: 14px;
    width: 500px;
    height: 23px;
    border: 1px solid #dadce0;
    background-color: #fff;
}

#RuleModalWrapper .modeler-upper > div{
    display: inline-block;
    text-align: center;
    height: 20px;
}

#RuleModalWrapper .modeler-editor > div{
    display: inline-block;
    text-align: center;
    height: 23px;
}

#RuleModalWrapper .modeler-editor .converter > input{
    padding: 0px;
    width: 112px;
    border: none;
    outline-color: #333;
    height: 19px;
    position: absolute;
    top: 2px;
    left: 3px;
    text-align: center;
}

#RuleModalWrapper .priority{
    position: relative;
    width: 39px;
    height: 100%;
    border-right: 1px solid #dadce0;
}

#RuleModalWrapper .key{
    position: relative;
    width: 140px;
    height: 100%;
    border-right: 1px solid #dadce0;
}

#RuleModalWrapper .key > select{
    text-align: center;
    text-align-last: center;
    position: absolute;
    width: 135px;
    left: 2px;
    top: 3px;
    border: none;
    cursor: pointer;
    outline: none;
}

#RuleModalWrapper .dt{
    width: 99px;
    border-right: 1px solid #dadce0;
    height: 100%;
    position: relative;
}

#RuleModalWrapper .dt > select{
    font-size: 12px;
    text-align: center;
    text-align-last: center;
    position: absolute;
    width: 95px;
    left: 2px;
    top: 3px;
    border: none;
    cursor: pointer;
    outline: none;
}

#RuleModalWrapper .event{
    width: 98px;
    position: relative;
}

#RuleModalWrapper .modeler-editor .event > input{
    padding: 0px;
    width: 93px;
    border: none;
    outline-color: #333;
    height: 19px;
    position: absolute;
    top: 2px;
    left: 3px;
    text-align: center;
}

#RuleModalWrapper input:disabled{
    background-color: #eee;
}

#RuleModalWrapper .desc{
    margin: 5px 20px;
    font-size: 12px;
}

#RuleModalWrapper .desc::before{
    font-size: 1px;
    color: #555;
    /* border-radius: 50%; */
    content: 'â—';
    margin-right: 5px;
}

#RuleModalWrapper .model-add{
    margin-top: 10px;
    border: 1px solid #555;
    background-color: transparent;
    border-radius: 2px;
    margin-right: 20px;
    padding: 1px 10px;
    float: right;
    cursor: pointer;
}

#RuleModalWrapper .converter{
    position: relative;
    border-left: 1px solid #dadce0;
    text-align: center;
    width: 120px;
}

#RuleModalWrapper .model-add:hover{
    background-color: #f1f1f1;
}

#RuleModalWrapper .priority > span{
    display: block;
    position: absolute;
    left: 0px;
    top: 3px;
    font-size: 13px;
    color: #333;
    font-weight: 400;
    text-align: center;
    width: 25px;
}

#RuleModalWrapper .bt-set{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
}

#RuleModalWrapper .priority .bt-set > button{
    width: 14px;
    height: 12px;
    text-align: center;
    font-size: 14px;
    position: relative;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: default;
}

#RuleModalWrapper .priority .bt-set > button:not([disalbed]){
    cursor: pointer;
}

#RuleModalWrapper .priority .bt-set > button:not([disalbed]):hover{
    background-color: #f1f1f1;
}