#EventModalWrapper{
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #555; */
}

#EventModalWrapper > header{
    color: #fff;
    background-color: #555555;
    height: 25px;
}

#EventModalWrapper > header > span{
    font-size: 12px;
    margin-left: 10px;
}

#EventModalWrapper > header > button{
    float: right;
    outline: none;
    border: none;
    height: 100%;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

#EventModalWrapper > header > button:hover{
    color: #333;
}

#EventModalWrapper .model-data-area{
    margin: 0 auto;
    margin-top: 15px;
    border: 1px solid #dadce0;
    width: 510px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#EventModalWrapper .modeler-upper{
    display: block;
    font-size: 12px;
    color: #333;
    width: 500px;
    border: 1px solid #dadce0;
    background-color: #fff;
}

#EventModalWrapper .modeler-editor{
    margin-top: 2px;
    display: block;
    font-size: 14px;
    width: 500px;
    height: 23px;
    border: 1px solid #dadce0;
    background-color: #fff;
}

#EventModalWrapper .modeler-upper > div{
    display: inline-block;
    text-align: center;
    height: 20px;
}

#EventModalWrapper .modeler-editor > div{
    display: inline-block;
    text-align: center;
    height: 23px;
}

#EventModalWrapper .modeler-editor .converter > input{
    padding: 0px;
    width: 112px;
    border: none;
    outline-color: #333;
    height: 19px;
    position: absolute;
    top: 2px;
    left: 3px;
    text-align: center;
}

#EventModalWrapper .key{
    position: relative;
    width: 140px;
    height: 100%;
    border-right: 1px solid #dadce0;
}

#EventModalWrapper .key > select{
    text-align: center;
    text-align-last: center;
    position: absolute;
    width: 135px;
    left: 2px;
    top: 3px;
    border: none;
    cursor: pointer;
    outline: none;
}

#EventModalWrapper .dt{
    width: 99px;
    border-right: 1px solid #dadce0;
    height: 100%;
    position: relative;
}

#EventModalWrapper .dt > select{
    font-size: 12px;
    text-align: center;
    text-align-last: center;
    position: absolute;
    width: 95px;
    left: 2px;
    top: 3px;
    border: none;
    cursor: pointer;
    outline: none;
}

#EventModalWrapper .event{
    width: 98px;
    position: relative;
}

#EventModalWrapper .modeler-editor .event > input{
    padding: 0px;
    width: 93px;
    border: none;
    outline-color: #333;
    height: 19px;
    position: absolute;
    top: 2px;
    left: 3px;
    text-align: center;
}

#EventModalWrapper input:disabled{
    background-color: #eee;
}

#EventModalWrapper .desc{
    margin: 5px 20px;
    font-size: 12px;
}

#EventModalWrapper .desc::before{
    font-size: 1px;
    color: #555;
    /* border-radius: 50%; */
    content: 'â—';
    margin-right: 5px;
}

#EventModalWrapper .model-add{
    margin-top: 5px;
    border: 1px solid #555;
    background-color: transparent;
    border-radius: 2px;
    margin-right: 20px;
    padding: 1px 10px;
    float: right;
    cursor: pointer;
}

#EventModalWrapper .converter{
    position: relative;
    border-left: 1px solid #dadce0;
    text-align: center;
    width: 120px;
}

#EventModalWrapper .converter select{
    text-align: center;
    text-align-last: center;
    position: absolute;
    width: 115px;
    left: 2px;
    top: 3px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 12px;
}

#EventModalWrapper .temp-textbox{
    position: relative;
    background: linear-gradient(0deg, #F3F3F3 1px, rgba(0, 0, 0, 0) 1px) -1px -1px / 40px 40px repeat padding-box border-box, linear-gradient(90deg, #F3F3F3 1px, rgba(0, 0, 0, 0) 1px) -1px -1px / 40px 40px, linear-gradient(0deg, #F9F9F9 1px, rgba(0, 0, 0, 0) 1px) -1px -1px / 10px 10px, linear-gradient(90deg, #F9F9F9 1px, rgba(0, 0, 0, 0) 1px) -1px -1px / 10px 10px, #fff;
    background-repeat: repeat;
    border: 1px solid #dadce0;
    border-radius: 2px;
    margin: 5px 20px 0 20px;
    min-height: 144px;
}

#EventModalWrapper .temp-textbox-wrapper{
    display: block;
    position: relative;
    margin: 0 138px;
    height: 100%;
    width: auto;
}

#EventModalWrapper .notify-text{
    border-top: 1px solid #dadce0;
    font-size: 12px;
    margin: 20px 20px 10px 20px;
    padding-top: 5px;
    /* color: #7C95D8; */
    color: #555;
    font-weight: 600;
}

#EventModalWrapper .input-sets{
    margin: 0 20px;
    border-bottom: 1px solid #dadce0;
    padding-bottom: 7px;
}

#EventModalWrapper .input-wrap{
    font-size: 13px;
    margin-bottom: 5px;
}

#EventModalWrapper .input-wrap span{
    display: inline-block;
    width: 80px;
    color: #333;
    font-weight: 500;
}

#EventModalWrapper .input-wrap select{
    width: 190px;
    outline: none;
    padding: 2px;
    color: #333;
}

#EventModalWrapper .input-wrap input:disabled{
    width: 180px;
    outline: none;
    color: #333;
    padding: 2px;
    border: 1px solid #aaa;
}

#EventModalWrapper .input-desc{
    font-size: 11px;
    margin-bottom: 8px;
    margin-left: 80px;
    color: #555;
}

#EventModalWrapper .test-area{
    border-top: 1px solid #dadce0;
    margin-top: 10px;
}

#EventModalWrapper .test-area > button{
    outline: none;
    border: 1px solid #aaa;
    padding: 2px 10px;
    border-radius: 2px;
    color: #333;
    background-color: #f1f1f1;
    margin-top: 7px;
    font-size: 12px;
}

#EventModalWrapper .json-area{
    margin-top: 4px;
    font-size: 12px;
    border-radius: 2px;
}

#EventModalWrapper .test-area .msg{
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 7px;
    color: #555;
}

#EventModalWrapper textarea{
    box-sizing: border-box;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 11px;
    line-height: 20px;
    resize: none;
    font-weight: 400;
    border: none;
    background-color: transparent;
    overflow: hidden;
    height: auto;
}

#EventModalWrapper .model-add:not([disabled]):hover{
    background-color: #f1f1f1;
}

#EventModalWrapper .model-add:disabled{
    color: #888;
    background-color: #f1f1f1;
    border: 1px solid #dadce0;
    cursor: default;
}

#EventModalWrapper .test-btn{
    cursor: pointer;
    outline: none;
}

#EventModalWrapper .code-select{
    margin-left: 7px;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #aaa;
    padding: 2px 10px;
    background-color: transparent;
    color: #333;
    cursor: pointer;
}

#EventModalWrapper .code-select:hover{
    background-color: #f1f1f1;
}

#EventModalWrapper .priority > span{
    display: block;
    position: absolute;
    left: 0px;
    top: 3px;
    font-size: 13px;
    color: #333;
    font-weight: 400;
    text-align: center;
    width: 25px;
}

#EventModalWrapper .bt-set{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
}

#EventModalWrapper .priority .bt-set > button{
    width: 14px;
    height: 12px;
    text-align: center;
    font-size: 14px;
    position: relative;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: default;
}

#EventModalWrapper .priority .bt-set > button:not([disalbed]){
    cursor: pointer;
}

#EventModalWrapper .priority .bt-set > button:not([disalbed]):hover{
    background-color: #f1f1f1;
}

#EventModalWrapper .priority{
    position: relative;
    width: 39px;
    height: 100%;
    border-right: 1px solid #dadce0;
}