#EventModalWrapper{
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #555; */
}

#EventModalWrapper > header{
    color: #fff;
    background-color: #555555;
    height: 25px;
}

#EventModalWrapper > header > span{
    font-size: 12px;
    margin-left: 10px;
}

#EventModalWrapper > header > button{
    float: right;
    outline: none;
    border: none;
    height: 100%;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

#EventModalWrapper > header > button:hover{
    color: #333;
}

#EventModalWrapper .model-data-area{
    margin: 0 auto;
    margin-top: 15px;
    border: 1px solid #dadce0;
    width: 480px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#EventModalWrapper .modeler-upper{
    display: block;
    font-size: 14px;
    width: 470px;
    border: 1px solid #dadce0;
    background-color: #fff;
}

#EventModalWrapper .modeler-editor{
    margin-top: 2px;
    display: block;
    font-size: 14px;
    width: 470px;
    height: 23px;
    border: 1px solid #dadce0;
    background-color: #fff;
}

#EventModalWrapper .modeler-upper > div{
    display: inline-block;
    text-align: center;
    height: 20px;
}

#EventModalWrapper .modeler-editor > div{
    display: inline-block;
    text-align: center;
    height: 23px;
}

#EventModalWrapper .modeler-editor .converter > input{
    padding: 0px;
    width: 112px;
    border: none;
    outline-color: #333;
    height: 19px;
    position: absolute;
    top: 2px;
    left: 3px;
    text-align: center;
}

#EventModalWrapper .key{
    position: relative;
    width: 150px;
    height: 100%;
    border-right: 1px solid #dadce0;
}

#EventModalWrapper .key > select{
    text-align: center;
    text-align-last: center;
    position: absolute;
    width: 145px;
    left: 2px;
    top: 3px;
    border: none;
    cursor: pointer;
    outline: none;
}

#EventModalWrapper .dt{
    width: 99px;
    border-right: 1px solid #dadce0;
    height: 100%;
    position: relative;
}

#EventModalWrapper .dt > select{
    font-size: 12px;
    text-align: center;
    text-align-last: center;
    position: absolute;
    width: 95px;
    left: 2px;
    top: 3px;
    border: none;
    cursor: pointer;
    outline: none;
}

#EventModalWrapper .event{
    width: 98px;
    position: relative;
}

#EventModalWrapper .modeler-editor .event > input{
    padding: 0px;
    width: 93px;
    border: none;
    outline-color: #333;
    height: 19px;
    position: absolute;
    top: 2px;
    left: 3px;
    text-align: center;
}

#EventModalWrapper input:disabled{
    background-color: #eee;
}

#EventModalWrapper .desc{
    margin: 5px 20px;
    font-size: 12px;
}

#EventModalWrapper .desc::before{
    font-size: 1px;
    color: #555;
    /* border-radius: 50%; */
    content: '●';
    margin-right: 5px;
}

#EventModalWrapper .model-add{
    margin-top: 10px;
    border: 1px solid #555;
    background-color: transparent;
    border-radius: 2px;
    margin-right: 20px;
    padding: 1px 10px;
    float: right;
}

#EventModalWrapper .converter{
    position: relative;
    border-left: 1px solid #dadce0;
    text-align: center;
    width: 120px;
}

#EventModalWrapper .converter select{
    text-align: center;
    text-align-last: center;
    position: absolute;
    width: 115px;
    left: 2px;
    top: 3px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 12px;
}