#DeviceAddBox{
    width: 600px;
    /* height: 339.8px; */
    height: 462px;
    background-color: white;
    border: 1px solid #888888;
    border-radius: 2px;
}

#DeviceAddBox .wrap{
    font-size: 13px;
    padding: 10px 11px 15px 11px;
}

#DeviceAddBox header{
    font-size: 14px;
    font-weight: 500;
    color: #000;
    border-left: 3px solid #000;
    padding-left: 7px;
    padding-bottom: 1px;
    margin-bottom: 10px;
}

#DeviceAddBox .wrap-item{
    margin-bottom: 20px;
    margin-left: 10px;
}

#DeviceAddBox .category{
    border-radius: 2px;
    padding: 3px 8px;
    width: auto;
    background-color: #EEEEEE;
    font-weight: 500;
    margin-bottom: 15px;
}

#DeviceAddBox .input-title{
    color: rgb(51,51,51);
    font-weight: 400;
    float: left;
    width: 142px;
}

#DeviceAddBox .input-item{
    
}

#DeviceAddBox .checkbox-wrap{
    margin-left: 142px;
}

#DeviceAddBox #checkbox{
    margin-right: 10px;
    display: inline-block;
}

#DeviceAddBox .input-info{
    font-size: 12px;
    color: #888;
    margin-left: 142px;
    margin-top: 3px;
}

#DeviceAddBox .input{
    width: 300px;
    padding: 3px 5px;

}

#DeviceAddBox .radio{
    margin-right: 12px;
}

#DeviceAddBox .must > span::after{
    position: absolute;
    /* right: -8px; */
    width: 4px;
    height: 4px;
    border-radius: 2px;
    margin-top: 3px;
    margin-left: 4px;
    background-color: rgb(255,86,64);
    content: '';
}

#DeviceAddBox button{
    width: 80px;
    padding: 1px 0 2px 0;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
}

#DeviceAddBox button:hover{
    background-color: #74737D;
    border: 1px solid #74737D;
    color: white;
}

#DeviceAddBox .center {
    margin: auto;
    width: 178px;
}

#DeviceAddBox button {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}