#DevicePallet{
    font-size: 12px;
    /* background-color: #B2C7D9; */
}

#DevicePallet .overflow-trick{
    position: absolute;
    /* bottom: -10px;
    right: -10px; */
    bottom: 32px;
    right: 255px;
    width: 10px;
    height: 10px;
    position: fixed;
    z-index: 2;
    background: #f1f1f1; 
}

#DevicePallet .pallet{
    position: absolute;
    border-top: 1px solid #dadce0;
    top: 55px;
    z-index: 1;
    left: 1px;
    bottom: 0px;
    right: 240px;
    overflow: scroll;
    touch-action: none;
}

#DevicePallet .background{
    position: absolute;
    /* border: 1px solid #000; */
    overflow: hidden;
    width: 1808px;
    height: 1151px;
    background-color: #b2c7d9;
}

#DevicePallet .side{
    border-top: 1px solid #dadce0;
    border-left: 1px solid #dadce0;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    position: absolute;
    width: 240px;
    z-index: 1;
    right: 0px;
    bottom: 0px;
    top: 55px;
}

#DevicePallet .side-title{
    text-align: center;
    font-size: 13px;
    padding: 5px;
}

#DevicePallet .side-section{
    border-top: 1px solid #dadce0;
    touch-action: none;
    display: block;
    padding: 10px 2px 0 2px;
}

#DevicePallet .side-section-title{
    margin-left: 10px;
}

#DevicePallet .draggable-wrap{
    width: 90%;
    margin: auto;
}

#DevicePallet .pv-wrap{
    margin-top: 10px;
    width: 100%;
    cursor: default;
}

#DevicePallet th{
    background-color: #e5e5e5;
    font-weight: 500;
}

#DevicePallet td{
    color: #707070;
}

#DevicePallet th, td{
    text-align: left;
    padding: 1px 0 1px 5px;
}

#DevicePallet tr:nth-child(even) {
    background: #fcfcfc;
}

#DevicePallet article{
    padding: 12px 0 12px 18px;
}

#DevicePallet .text-box .inner{
    cursor: move;
}

#DevicePallet textarea{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 11px;
    font-weight: 400;
    /* border: 1px solid #dadce0; */
    border: none;
    background-color: transparent;
    /* outline: none; */
    resize: none;
    overflow: auto;
    height: 40px;
    width: 147px;
}